body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.card{
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 20px;
    width: 200px;
    text-align: center;
    position: relative;
    margin-top: -50px;
    z-index: 1;
}

.card:nth-child(2) {
    background-color: yellow;
    z-index: 2;
    right: 50px;
    top: 10px;
}